[submodule "team_sensor/pi_python/py-beacon"]
	path = team_sensor/pi_python/py-beacon
	url = git@github.com:taka-wang/py-beacon.git
[submodule "py-beacon"]
	path = py-beacon
	url = https://github.com/taka-wang/py-beacon.git
